{% extends "base.html" %}
{% load static %}
{% block content %}

    <div style="background-color: #0BA8E6; font-size: 3.5vw; color: white; font-family: Calibri" >
        <center> <b> Instructions for {{ ProgCode }} Mock Quiz {{ QuizNo }}</b> </center>
    </div>
    <br>

    <div style="margin-left: 10%; margin-right: 10%; font-size: 20px">
    <p> {{  Instructions | linebreaks }}</p>
        <h3> <b> Time: </b> {{ Time }} minutes </h3>
        <h3><b>  Number of Questions: </b> {{ QperQuiz }} </h3>

    </div>

    <div class="" style="margin-left: 35%; width: 20%">

        <input type="button" class="btn btn-secondary" style="width: 500px; background-color: #0BA8E6; color: white; font-size: 180%; font-weight: bold; margin-left: 1%"
               value="Start Quiz" onclick="window.open('/mock-quiz/account/quiz-'+{{ QuizNo }} +'/1', '_blank')">

    </div>
    <br>

{% endblock %}